body {
  margin:0px;
  background-color:rgba(247, 248, 252, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1799px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35827 {
  position:absolute;
  left:0px;
  top:0px;
  width:1799px;
  height:2236px;
  overflow:hidden;
}
#u35827_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1799px;
  height:2236px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/报名完成/u35827_state0.jpg');
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 2234px;
}
#u35827_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35828 {
  position:absolute;
  left:623px;
  top:755px;
  width:457px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35829 {
  position:absolute;
  left:1241px;
  top:1791px;
  width:132px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35830 {
  position:absolute;
  left:512px;
  top:7px;
  width:96px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35831 {
  position:fixed;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  overflow:hidden;
  visibility:hidden;
}
#u35831_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:3000px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(40, 44, 53, 0.8);
  background-image:none;
}
#u35831_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35832 {
  position:fixed;
  left:50%;
  margin-left:-305px;
  top:50%;
  margin-top:-288px;
  width:610px;
  height:576px;
  overflow:hidden;
}
#u35832_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:576px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u35832_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:846px;
}
#u35833 {
  position:absolute;
  left:16px;
  top:0px;
  width:551px;
  height:846px;
}
#u35834 {
  position:absolute;
  left:2px;
  top:415px;
  width:547px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u35835 {
  position:absolute;
  left:561px;
  top:19px;
  width:20px;
  height:20px;
}
#u35836 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
