body {
  margin:0px;
  background-color:rgba(247, 248, 252, 1);
  background-image:none;
  position:relative;
  left:-533px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
}
#u36550 {
  position:absolute;
  left:533px;
  top:0px;
  width:375px;
  height:625px;
}
#u36551 {
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0099FF;
}
#u36552 {
  position:absolute;
  left:689px;
  top:655px;
  width:81px;
  height:28px;
  font-size:20px;
  color:#0099FF;
}
#u36553 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
