body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-19px;
  width:2341px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u75 {
  position:fixed;
  left:19px;
  bottom:0px;
  width:2341px;
  height:1000px;
  overflow:hidden;
}
#u75_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2341px;
  height:1000px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/登录/u75_state0.jpg');
  background-position:center bottom;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:1920px 1000px;
}
#u75_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76 {
  position:fixed;
  left:19px;
  top:21px;
}
#u76_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u76_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:fixed;
  left:50%;
  margin-left:-200px;
  top:163px;
  width:400px;
  height:516px;
  overflow:hidden;
}
#u79_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:516px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u79_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:496px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  position:absolute;
  left:0px;
  top:-7px;
  width:400px;
  height:496px;
  opacity:0.2;
}
#u81 {
  position:absolute;
  left:2px;
  top:240px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  position:absolute;
  left:20px;
  top:149px;
  width:360px;
  height:46px;
}
#u83 {
  position:absolute;
  left:2px;
  top:15px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  position:absolute;
  left:20px;
  top:218px;
  width:360px;
  height:46px;
}
#u85 {
  position:absolute;
  left:2px;
  top:15px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:20px;
  top:287px;
  width:100px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u87 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u86_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u88 {
  position:absolute;
  left:327px;
  top:289px;
  width:53px;
  height:13px;
  color:#FFFFFF;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:46px;
  background:inherit;
  background-color:rgba(253, 218, 68, 0.898039215686275);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u90 {
  position:absolute;
  left:20px;
  top:321px;
  width:360px;
  height:46px;
  font-size:16px;
}
#u90_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:46px;
  background:inherit;
  background-color:rgba(229, 175, 0, 0.898039215686275);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u90.mouseOver {
}
#u91 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:28px;
}
#u92 {
  position:absolute;
  left:70px;
  top:27px;
  width:260px;
  height:28px;
}
#u93 {
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  position:absolute;
  left:20px;
  top:80px;
  width:360px;
  height:46px;
}
#u95 {
  position:absolute;
  left:2px;
  top:15px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u96 {
  position:absolute;
  left:20px;
  top:386px;
  width:97px;
  height:16px;
  font-size:16px;
  color:#666666;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u98 {
  position:absolute;
  left:20px;
  top:421px;
  width:117px;
  height:13px;
  color:#666666;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u100 {
  position:absolute;
  left:20px;
  top:442px;
  width:239px;
  height:16px;
  font-family:'LucidaGrande', 'Lucida Grande';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:27px;
  top:229px;
  width:300px;
  height:25px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u103 {
  position:absolute;
  left:30px;
  top:160px;
  width:300px;
  height:25px;
}
#u103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u104 {
  position:absolute;
  left:30px;
  top:91px;
  width:300px;
  height:25px;
}
#u104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
